<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather_app</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body class="weather_body_error">
  <div class="wrapper">
    <div class="container">
      <h1>404</h1>
      <h2>Unfortunately, there is no information about <%= cityName %>.
        <p>Let's go <a href="/">home</a> and try again.</p>
      </h2>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>