<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather_app</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body> 
    <div class="wrapper">
        <div class="container">
            <h2>Currently in <%= cityName %></h2>
            <h1>The temperature is <%= temperature %> degrees.</h1>
            <p>The weather is currently <%= description %>.</p>
            <p><%=icon%></p>
        </div>
    </div> 
    <script src="app.js"></script>
</body>
</html>



