@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Lato:ital,wght@0,400;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-family: inherit;
}

body {
  font-family: Lato;
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
  padding: 1%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

h1 {
  font-family: 'DancingScript', cursive;
  font-weight: medium;
  font-size: 4rem;
  letter-spacing: 1px;
  color: #33313B;
  margin: 3rem auto;
  text-align: center;
}

@media screen and (max-width: 1450px) {
  h1 {
    font-size: 2rem;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
  padding: 1%;
  position: relative;
  width: 100%;
}

form input {
  padding: 2%;
  margin: 3rem auto;
  width: 80%;
  height: 80%;
  background-color: #F6F5F5;
  -webkit-box-shadow: 0 0 10px 3px #4592AF;
          box-shadow: 0 0 10px 3px #4592AF;
  border-radius: 20px;
  font-size: 1rem;
  color: #33313B;
}

form input:hover {
  -webkit-box-shadow: 0 0 15px 3px #4592AF;
          box-shadow: 0 0 15px 3px #4592AF;
}

form input:focus + label {
  opacity: 0;
}

form input:valid + label {
  opacity: 0;
}

form label {
  position: absolute;
  left: 5%;
  font-weight: 600;
  font-size: 1rem;
  color: #4592AF;
  opacity: 0.5;
  text-align: center;
}

form button {
  padding: 2%;
  margin: 3rem auto;
  background-color: #F6F5F5;
  -webkit-box-shadow: 0 0 10px 3px #4592AF;
          box-shadow: 0 0 10px 3px #4592AF;
  border-radius: 20px;
  font-weight: 700;
  font-size: 1rem;
  color: #33313B;
}

form button:hover {
  -webkit-box-shadow: 0 0 15px 3px #4592AF;
          box-shadow: 0 0 15px 3px #4592AF;
}

@media screen and (max-width: 1450px) {
  form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem auto;
  }
  form input {
    width: 100%;
    margin: 1rem auto;
  }
  form button {
    margin: 1rem auto;
  }
}
/*# sourceMappingURL=style.css.map */