@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Lato:ital,wght@0,400;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-family: inherit;
}

body {
  height: 100%;
  font-family: Lato;
  background-image: linear-gradient(-225deg, #4592AF 0%, #FFF 100%);
  overflow: hidden;
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem auto;
  padding: 1%;
  width: 100%;
  flex-direction: column;
  width: 70%;
}

.background_container {
  width: 100%;
}

@media screen and (max-width: 1450px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

h1 {
  font-family: 'DancingScript', cursive;
  font-weight: medium;
  font-size: 4rem;
  letter-spacing: 1px;
  color: #33313B;
  margin: 2rem auto;
  text-align: center;
}

@media screen and (max-width: 1450px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem auto;
  padding: 1%;
  position: relative;
  width: 90%;
}

form input {
  padding: 2%;
  margin: 2rem auto;
  width: 80%;
  height: 80%;
  background-color: #F6F5F5;
  -webkit-box-shadow: 0 0 10px 3px #4592AF;
          box-shadow: 0 0 10px 3px #4592AF;
  border-radius: 20px;
  font-size: 1rem;
  color: #33313B;
}

form input:hover {
  -webkit-box-shadow: 0 0 15px 3px #4592AF;
          box-shadow: 0 0 15px 3px #4592AF;
}

form input:focus + label {
  opacity: 0;
}

form input:valid + label {
  opacity: 0;
}

form label {
  position: absolute;
  left: 12%;
  top: 23%;
  font-weight: 400;
  font-size: 1rem;
  color: #4592AF;
  opacity: 0.5;
  text-align: center;
}

form button {
  padding: 2% 8%;
  margin: 2rem auto;
  background-color: #F6F5F5;
  -webkit-box-shadow: 0 0 10px 3px #4592AF;
          box-shadow: 0 0 10px 3px #4592AF;
  border-radius: 20px;
  font-weight: 700;
  font-size: 1rem;
  color: #33313B;
}

form button:hover {
  -webkit-box-shadow: 0 0 15px 3px #4592AF;
          box-shadow: 0 0 15px 3px #4592AF;
}

@media screen and (max-width: 1450px) {
  form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1rem auto;
  }
  form input {
    width: 100%;
    margin: 1rem auto;
  }
  form label {
    left: 5%;
    top: 20%;
  }
  form button {
    margin: 1rem auto;
  }
}

.night_background {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#33313B), to(#4592AF));
  background-image: linear-gradient(to top, #33313B 0%, #4592AF 100%);
}

.night_background h3 {
  color: #33313B;
}

.night_background p {
  color: #FBE0C4;
  opacity: 70%;
}

.night_background button {
  background-color: #FBE0C4;
  opacity: 70%;
  -webkit-box-shadow: 0 0 10px 3px #FBE0C4;
          box-shadow: 0 0 10px 3px #FBE0C4;
}

.night_background button:hover {
  -webkit-box-shadow: 0 0 15px 3px #FBE0C4;
          box-shadow: 0 0 15px 3px #FBE0C4;
}

.scaling_svg {
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -100;
}

#content .return_button {
  text-align: center;
}

#content h2 {
  font-family: 'DancingScript', cursive;
  font-weight: medium;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #33313B;
  margin: 2rem auto;
  text-align: center;
}

h3 span {
  font-family: 'DancingScript', cursive;
  font-size: 6rem;
  font-weight: 700;
}

h3 span:after {
  content: ' \00B0 c';
}

h3 {
  font-size: 2rem;
  color: #4592AF;
  letter-spacing: 1px;
  padding: 1%;
  margin: 1rem auto;
  text-align: center;
}

p {
  font-size: 1rem;
  color: #4592AF;
  letter-spacing: 1px;
  padding: 1%;
  margin: 1rem auto;
  text-align: center;
}

button {
  background-color: #F6F5F5;
  font-size: 3rem;
  -webkit-box-shadow: 0 0 10px 3px #4592AF;
          box-shadow: 0 0 10px 3px #4592AF;
  border-radius: 20px;
  font-weight: 700;
  font-size: 1rem;
  color: #33313B;
  margin: 1rem auto;
  padding: 3% 8%;
}

button:hover {
  -webkit-box-shadow: 0 0 15px 3px #4592AF;
          box-shadow: 0 0 15px 3px #4592AF;
}

@media screen and (min-width: 1028px) {
  #small_tree, #cloud_4, #cloud_5, #light_small_2 {
    visibility: hidden;
  }
}

@media screen and (max-width: 1028px) {
  #content h2 {
    font-size: 2rem;
    margin: 1rem auto;
  }
  h3 span {
    font-size: 4rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1rem;
  }
  #cloud_1, #cloud_2, .right_element, #big_tree, #light_1, #light_2 {
    visibility: hidden;
  }
  #small_tree, #cloud_4, #cloud_5, #light_small_2 {
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1rem;
  }
  p {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */