.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    @include display_flex(); 
    margin: $base-margin;
    padding: $base-padding;
    width: $base-width;
    flex-direction: column;
    width: 70%;
}