form {
    @include display_flex();
    margin: $base-margin;
    padding: $base-padding;
    position: relative;
    width: 100%;
    input {
        padding: 2%;
        margin: $base-margin;
        width: 80%;
        height: 80%;
        background-color: $white;
        box-shadow: $base-box-shadow;
        border-radius: 20px;
        font-size: $font-size;
        color: $primary;
        &:hover {
            box-shadow: $base-box-shadow-hover;
        }
        &:focus {
            & + label {
              opacity: 0;
            }
        }
        &:valid {
            & + label {
                opacity: 0;
            }
        } 
    }
    label {
        position: absolute;
        left: 5%;
        font-weight: 600;
        font-size: $font-size;
        color: $blue;
        opacity: 0.5;
        text-align: center;
    }
    button {
        padding: 2%;
        margin: $base-margin;
        background-color: $white;
        box-shadow: $base-box-shadow;
        border-radius: 20px;
        font-weight: 700;
        font-size: $font-size;
        color: $primary;
    }
    button:hover {
        box-shadow: $base-box-shadow-hover;
    }
}

@media screen and (max-width:1450px){
    form {
        justify-content: space-between;
        flex-direction: column;
        margin: $base-margin-sm;
        input {
            width: 100%;
            margin: $base-margin-sm;
        }
        // label {
        //     margin: $base-margin-sm;
        // }
        button {
            margin: $base-margin-sm;
        }
    }
}