.night_background {
   @include night_colours;
}

.scaling_svg {
    position: absolute; 
    box-sizing: content-box;
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
    z-index: -100;
}

.content .return_button{
    text-align: center;
}
.content {
    color: $primary;
}

.content h2 {
    font-family: 'DancingScript', cursive;
    font-weight: medium;
    font-size: $font-size-md;
    letter-spacing: 1px;
    margin: $base-margin;
    text-align: center;
}

h3 span {
    font-family: 'DancingScript', cursive;
    font-size: $font-size-xlg;
    font-weight: 700;  
}
// sign °c after temperature
h3 span:after {
    content: ' \00B0 c';
}
h3 {
    font-size: $font-size-x;
    letter-spacing: 1px;
    padding: $base-padding;
    margin: $base-margin-sm;
    text-align: center;
}

p {
    font-size: $font-size;
    letter-spacing: 1px;
    padding: $base-padding;
    margin: $base-margin-sm;
    text-align: center;
}

button {
    background-color: $white;
    font-size: $font-size-md;
    box-shadow: $base-box-shadow;
    border-radius: 20px;
    font-weight: 700;
    font-size: $font-size;
    color: $primary;
    margin: $base-margin-sm;
    padding: 3% 8%;
}
button:hover {
    box-shadow: $base-box-shadow-hover;
}

// Big screen
@media screen and (min-width:1028px){
     #small_tree, #cloud_4, #cloud_5, #light_small_2 {
        visibility: hidden;
    }

}

// Medium screen
@media screen and (max-width:1028px){
    .content h2 {
        font-size: $font-size-x;
        margin: $base-margin-sm;
    }
    h3 span {
        font-size: $font-size-lg;
        font-weight: 500;   
    }
    #cloud_1, #cloud_2, .right_element, #big_tree, #light_1, #light_2{
        visibility: hidden;
    }
    #small_tree, #cloud_4, #cloud_5, #light_small_2 {
        visibility: visible;
    }

}

// Small screen
@media screen and (max-width:768px){
    h3 {
        font-size: $font-size;
    }
    p, {
        margin: $base-margin-xsm;
    }
}