.svg_main {
    position: absolute;
    width: 5vw;
    height: 5vw;
    z-index: -100;
}

@media screen and (max-width:1450px){   
    .svg_main {
        width: 8vw;
        height: 8vw;
    }
}
@media screen and (max-width:768px){
    .svg_main {
        width: 20vw;
        height: 20vw;
    }
}