#svg_sun {
    width: 15vw;
    height: 15vw;
}

.svg_main {
    position: absolute;
    width: 5vw;
    height: 5vw;
    z-index: -100;
}

@media screen and (max-width:1450px){   
    #svg_sun {
        margin: $base-margin;
        width: 25vw;
        height: 25vw;
    }
    .main_svg {
        width: 8vw;
        height: 8vw;
    }
}
@media screen and (max-width:768px){
    #svg_sun {
        width: 30vw;
        height: 30vw;
    }
    .main_svg {
        width: 8vw;
        height: 8vw;
    }
}